// TangNano20k clock
IO_LOC "CLK_27M" 4;
IO_PORT "CLK_27M" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// TangNano20k TF
IO_LOC "TF_CMD" 82;
IO_PORT "TF_CMD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "TF_DAT3" 81;
IO_PORT "TF_DAT3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "TF_DAT2" 80;
IO_PORT "TF_DAT2" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "TF_DAT1" 85;
IO_PORT "TF_DAT1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "TF_DAT0" 84;
IO_PORT "TF_DAT0" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "TF_SCLK" 83;
IO_PORT "TF_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// TangNano20k TMDS
IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "tmds_data_p[0]" 35,36;
IO_PORT "tmds_data_p[0]" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "tmds_data_p[1]" 37,38;
IO_PORT "tmds_data_p[1]" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "tmds_data_p[2]" 39,40;
IO_PORT "tmds_data_p[2]" PULL_MODE=NONE DRIVE=3.5;

// TangNano20k FLASH
IO_LOC "mspi_sclk" 59;
IO_PORT "mspi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_cs" 60;
IO_PORT "mspi_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_miso" 62;
IO_PORT "mspi_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "mspi_mosi" 61;
IO_PORT "mspi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_hold" 63;
IO_PORT "mspi_hold" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// UART
IO_LOC "UART_RX" 70;
IO_LOC "UART_TX" 69;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33;

// JUMPER
IO_LOC "JUMPER" 53;
IO_PORT "JUMPER" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

// SOUND
IO_LOC "SOUND_EXT" 49;
IO_PORT "SOUND_EXT" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SOUND_INT" 41;
IO_PORT "SOUND_INT" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;

// access LED
IO_LOC "LED" 86;
IO_PORT "LED" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// cartridge signal
IO_LOC "CART_DATA_DIR" 52;
IO_PORT "CART_DATA_DIR" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_MUX_CS_n[2]" 19;
IO_PORT "CART_MUX_CS_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_MUX_CS_n[1]" 17;
IO_PORT "CART_MUX_CS_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_MUX_CS_n[0]" 20;
IO_PORT "CART_MUX_CS_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_WAIT_n" 42;
IO_PORT "CART_WAIT_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_INT_n" 73;
IO_PORT "CART_INT_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_BUSDIR_n" 74;
IO_PORT "CART_BUSDIR_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[7]" 55;
IO_PORT "CART_DATA_SIG[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[6]" 51;
IO_PORT "CART_DATA_SIG[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[5]" 71;
IO_PORT "CART_DATA_SIG[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[4]" 72;
IO_PORT "CART_DATA_SIG[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[3]" 79;
IO_PORT "CART_DATA_SIG[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[2]" 54;
IO_PORT "CART_DATA_SIG[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[1]" 56;
IO_PORT "CART_DATA_SIG[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[0]" 48;
IO_PORT "CART_DATA_SIG[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[7]" 31;
IO_PORT "CART_MUX_SIG[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[6]" 30;
IO_PORT "CART_MUX_SIG[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[5]" 29;
IO_PORT "CART_MUX_SIG[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[4]" 26;
IO_PORT "CART_MUX_SIG[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[3]" 25;
IO_PORT "CART_MUX_SIG[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[2]" 28;
IO_PORT "CART_MUX_SIG[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[1]" 27;
IO_PORT "CART_MUX_SIG[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[0]" 77;
IO_PORT "CART_MUX_SIG[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_CLOCK" 76;
IO_PORT "CART_CLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_WR_n" 16;
IO_PORT "CART_WR_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_RD_n" 15;
IO_PORT "CART_RD_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_SLTSL_n" 18;
IO_PORT "CART_SLTSL_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
