//------------------------
// GPIO 定義
//------------------------

// TangNano20k clock
IO_LOC "CLK_27M" 4;
IO_PORT "CLK_27M" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// TangNano20k TF
IO_LOC "TF_CMD" 82;
IO_PORT "TF_CMD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "TF_DAT3" 81;
IO_PORT "TF_DAT3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "TF_DAT2" 80;
IO_PORT "TF_DAT2" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "TF_DAT1" 85;
IO_PORT "TF_DAT1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "TF_DAT0" 84;
IO_PORT "TF_DAT0" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "TF_SCLK" 83;
IO_PORT "TF_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// TangNano20k TMDS
IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "tmds_data_p[0]" 35,36;
IO_PORT "tmds_data_p[0]" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "tmds_data_p[1]" 37,38;
IO_PORT "tmds_data_p[1]" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "tmds_data_p[2]" 39,40;
IO_PORT "tmds_data_p[2]" PULL_MODE=NONE DRIVE=3.5;

// TangNano20k FLASH
IO_LOC "mspi_sclk" 59;
IO_PORT "mspi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_cs" 60;
IO_PORT "mspi_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_miso" 62;
IO_PORT "mspi_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "mspi_mosi" 61;
IO_PORT "mspi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_hold" 63;
IO_PORT "mspi_hold" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// UART
IO_LOC "UART_RX" 70;
IO_LOC "UART_TX" 69;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33;

// JUMPER
IO_LOC "JUMPER" 53;
IO_PORT "JUMPER" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

// SOUND
IO_LOC "SOUND_EXT" 49;
IO_PORT "SOUND_EXT" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SOUND_INT" 41;
IO_PORT "SOUND_INT" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;

// access LED
IO_LOC "LED" 86;
IO_PORT "LED" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// cartridge signal
IO_LOC "CART_DATA_DIR" 52;
IO_PORT "CART_DATA_DIR" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_MUX_CS_n[2]" 19;
IO_PORT "CART_MUX_CS_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_MUX_CS_n[1]" 20;
IO_PORT "CART_MUX_CS_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_MUX_CS_n[0]" 17;
IO_PORT "CART_MUX_CS_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_WAIT_n" 42;
IO_PORT "CART_WAIT_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_INT_n" 73;
IO_PORT "CART_INT_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_BUSDIR_n" 74;
IO_PORT "CART_BUSDIR_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[7]" 55;
IO_PORT "CART_DATA_SIG[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[6]" 51;
IO_PORT "CART_DATA_SIG[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[5]" 71;
IO_PORT "CART_DATA_SIG[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[4]" 72;
IO_PORT "CART_DATA_SIG[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[3]" 79;
IO_PORT "CART_DATA_SIG[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[2]" 54;
IO_PORT "CART_DATA_SIG[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[1]" 56;
IO_PORT "CART_DATA_SIG[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[0]" 48;
IO_PORT "CART_DATA_SIG[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[7]" 31;
IO_PORT "CART_MUX_SIG[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[6]" 30;
IO_PORT "CART_MUX_SIG[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[5]" 29;
IO_PORT "CART_MUX_SIG[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[4]" 26;
IO_PORT "CART_MUX_SIG[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[3]" 25;
IO_PORT "CART_MUX_SIG[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[2]" 28;
IO_PORT "CART_MUX_SIG[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[1]" 27;
IO_PORT "CART_MUX_SIG[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_MUX_SIG[0]" 77;
IO_PORT "CART_MUX_SIG[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_CLOCK" 76;
IO_PORT "CART_CLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_WR_n" 16;
IO_PORT "CART_WR_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_RD_n" 15;
IO_PORT "CART_RD_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_SLTSL_n" 18;
IO_PORT "CART_SLTSL_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

//------------------------
// I/O 入出力の遅延が少なくなるように FF を IOB の近くへ配置
//------------------------
// SDRAM_A
INS_LOC "u_sdram/ff_sdram_a_0_s1" IOR14[A];
INS_LOC "u_sdram/ff_sdram_a_1_s1" IOR13[B];
INS_LOC "u_sdram/ff_sdram_a_2_s1" IOR14[B];
INS_LOC "u_sdram/ff_sdram_a_3_s1" IOR15[A];
INS_LOC "u_sdram/ff_sdram_a_4_s1" IOL16[B];
INS_LOC "u_sdram/ff_sdram_a_5_s1" IOL17[B];
INS_LOC "u_sdram/ff_sdram_a_6_s1" IOL16[A];
INS_LOC "u_sdram/ff_sdram_a_7_s1" IOL17[A];
INS_LOC "u_sdram/ff_sdram_a_8_s1" IOL15[B];
INS_LOC "u_sdram/ff_sdram_a_9_s1" IOL15[A];
INS_LOC "u_sdram/ff_sdram_a_10_s1" IOR12[B];

// SDRAM_BA
INS_LOC "u_sdram/ff_sdram_ba_0_s0" IOR13[A];
INS_LOC "u_sdram/ff_sdram_ba_1_s0" IOR12[A];

// SDRAM_DQM
INS_LOC "u_sdram/ff_sdram_dqm_0_s0" IOL12[A];
INS_LOC "u_sdram/ff_sdram_dqm_1_s0" IOR11[A];
INS_LOC "u_sdram/ff_sdram_dqm_2_s0" IOL18[A];
INS_LOC "u_sdram/ff_sdram_dqm_3_s0" IOR15[B];
INS_LOC "u_sdram/ff_sdram_cmd_0_s0" IOL12[B];
INS_LOC "u_sdram/ff_sdram_cmd_1_s0" IOL14[A];
INS_LOC "u_sdram/ff_sdram_cmd_2_s0" IOL13[B];

// SDRAM_DQ
INS_LOC "u_sdram/ff_sdram_dq_out_0_s1" R3C2;
INS_LOC "u_sdram/ff_sdram_dq_out_1_s1" R3C2;
INS_LOC "u_sdram/ff_sdram_dq_out_2_s1" R8C2;
INS_LOC "u_sdram/ff_sdram_dq_out_3_s1" R8C2;
INS_LOC "u_sdram/ff_sdram_dq_out_4_s1" R9C2;
INS_LOC "u_sdram/ff_sdram_dq_out_5_s1" R9C2;
INS_LOC "u_sdram/ff_sdram_dq_out_6_s1" R11C2;
INS_LOC "u_sdram/ff_sdram_dq_out_7_s1" R11C2;
INS_LOC "u_sdram/ff_sdram_dq_out_8_s1" R9C55;
INS_LOC "u_sdram/ff_sdram_dq_out_9_s1" R9C55;
INS_LOC "u_sdram/ff_sdram_dq_out_10_s1" R5C55;
INS_LOC "u_sdram/ff_sdram_dq_out_11_s1" R6C55;
INS_LOC "u_sdram/ff_sdram_dq_out_12_s1" R5C55;
INS_LOC "u_sdram/ff_sdram_dq_out_13_s1" R4C55;
INS_LOC "u_sdram/ff_sdram_dq_out_14_s1" R3C55;
INS_LOC "u_sdram/ff_sdram_dq_out_15_s1" R3C55;
INS_LOC "u_sdram/ff_sdram_dq_out_16_s1" R39C2;
INS_LOC "u_sdram/ff_sdram_dq_out_17_s1" R39C2;
INS_LOC "u_sdram/ff_sdram_dq_out_18_s1" R35C2;
INS_LOC "u_sdram/ff_sdram_dq_out_19_s1" R35C2;
INS_LOC "u_sdram/ff_sdram_dq_out_20_s1" R30C2;
INS_LOC "u_sdram/ff_sdram_dq_out_21_s1" R30C2;
INS_LOC "u_sdram/ff_sdram_dq_out_22_s1" R20C2;
INS_LOC "u_sdram/ff_sdram_dq_out_23_s1" R18C2;
INS_LOC "u_sdram/ff_sdram_dq_out_24_s1" R17C55;
INS_LOC "u_sdram/ff_sdram_dq_out_25_s1" R16C55;
INS_LOC "u_sdram/ff_sdram_dq_out_26_s1" R16C55;
INS_LOC "u_sdram/ff_sdram_dq_out_27_s1" R17C55;
INS_LOC "u_sdram/ff_sdram_dq_out_28_s1" R18C55;
INS_LOC "u_sdram/ff_sdram_dq_out_29_s1" R18C55;
INS_LOC "u_sdram/ff_sdram_dq_out_30_s1" R44C55;
INS_LOC "u_sdram/ff_sdram_dq_out_31_s1" R44C55;

INS_LOC "u_sdram/dq_bits[0].u_io/u_oen" R3C2;
INS_LOC "u_sdram/dq_bits[1].u_io/u_oen" R3C2;
INS_LOC "u_sdram/dq_bits[2].u_io/u_oen" R8C2;
INS_LOC "u_sdram/dq_bits[3].u_io/u_oen" R8C2;
INS_LOC "u_sdram/dq_bits[4].u_io/u_oen" R9C2;
INS_LOC "u_sdram/dq_bits[5].u_io/u_oen" R9C2;
INS_LOC "u_sdram/dq_bits[6].u_io/u_oen" R11C2;
INS_LOC "u_sdram/dq_bits[7].u_io/u_oen" R11C2;
INS_LOC "u_sdram/dq_bits[8].u_io/u_oen" R9C55;
INS_LOC "u_sdram/dq_bits[9].u_io/u_oen" R9C55;
INS_LOC "u_sdram/dq_bits[10].u_io/u_oen" R5C55;
INS_LOC "u_sdram/dq_bits[11].u_io/u_oen" R6C55;
INS_LOC "u_sdram/dq_bits[12].u_io/u_oen" R5C55;
INS_LOC "u_sdram/dq_bits[13].u_io/u_oen" R4C55;
INS_LOC "u_sdram/dq_bits[14].u_io/u_oen" R3C55;
INS_LOC "u_sdram/dq_bits[15].u_io/u_oen" R3C55;
INS_LOC "u_sdram/dq_bits[16].u_io/u_oen" R39C2;
INS_LOC "u_sdram/dq_bits[17].u_io/u_oen" R39C2;
INS_LOC "u_sdram/dq_bits[18].u_io/u_oen" R35C2;
INS_LOC "u_sdram/dq_bits[19].u_io/u_oen" R35C2;
INS_LOC "u_sdram/dq_bits[20].u_io/u_oen" R30C2;
INS_LOC "u_sdram/dq_bits[21].u_io/u_oen" R30C2;
INS_LOC "u_sdram/dq_bits[22].u_io/u_oen" R20C2;
INS_LOC "u_sdram/dq_bits[23].u_io/u_oen" R18C2;
INS_LOC "u_sdram/dq_bits[24].u_io/u_oen" R17C55;
INS_LOC "u_sdram/dq_bits[25].u_io/u_oen" R16C55;
INS_LOC "u_sdram/dq_bits[26].u_io/u_oen" R16C55;
INS_LOC "u_sdram/dq_bits[27].u_io/u_oen" R17C55;
INS_LOC "u_sdram/dq_bits[28].u_io/u_oen" R18C55;
INS_LOC "u_sdram/dq_bits[29].u_io/u_oen" R18C55;
INS_LOC "u_sdram/dq_bits[30].u_io/u_oen" R44C55;
INS_LOC "u_sdram/dq_bits[31].u_io/u_oen" R44C55;

INS_LOC "u_sdram/dq_bits[0].u_fetch_0/u_in" R3C3;
INS_LOC "u_sdram/dq_bits[1].u_fetch_0/u_in" R3C3;
INS_LOC "u_sdram/dq_bits[2].u_fetch_0/u_in" R8C3;
INS_LOC "u_sdram/dq_bits[3].u_fetch_0/u_in" R8C3;
INS_LOC "u_sdram/dq_bits[4].u_fetch_0/u_in" R9C3;
INS_LOC "u_sdram/dq_bits[5].u_fetch_0/u_in" R9C3;
INS_LOC "u_sdram/dq_bits[6].u_fetch_0/u_in" R11C3;
INS_LOC "u_sdram/dq_bits[7].u_fetch_0/u_in" R11C3;
INS_LOC "u_sdram/dq_bits[8].u_fetch_0/u_in" R9C54;
INS_LOC "u_sdram/dq_bits[9].u_fetch_0/u_in" R9C54;
INS_LOC "u_sdram/dq_bits[10].u_fetch_0/u_in" R5C54;
INS_LOC "u_sdram/dq_bits[11].u_fetch_0/u_in" R6C54;
INS_LOC "u_sdram/dq_bits[12].u_fetch_0/u_in" R5C54;
INS_LOC "u_sdram/dq_bits[13].u_fetch_0/u_in" R4C54;
INS_LOC "u_sdram/dq_bits[14].u_fetch_0/u_in" R3C54;
INS_LOC "u_sdram/dq_bits[15].u_fetch_0/u_in" R3C54;
INS_LOC "u_sdram/dq_bits[16].u_fetch_0/u_in" R39C3;
INS_LOC "u_sdram/dq_bits[17].u_fetch_0/u_in" R39C3;
INS_LOC "u_sdram/dq_bits[18].u_fetch_0/u_in" R35C3;
INS_LOC "u_sdram/dq_bits[19].u_fetch_0/u_in" R35C3;
INS_LOC "u_sdram/dq_bits[20].u_fetch_0/u_in" R30C3;
INS_LOC "u_sdram/dq_bits[21].u_fetch_0/u_in" R30C3;
INS_LOC "u_sdram/dq_bits[22].u_fetch_0/u_in" R20C3;
INS_LOC "u_sdram/dq_bits[23].u_fetch_0/u_in" R18C3;
INS_LOC "u_sdram/dq_bits[24].u_fetch_0/u_in" R17C54;
INS_LOC "u_sdram/dq_bits[25].u_fetch_0/u_in" R16C54;
INS_LOC "u_sdram/dq_bits[26].u_fetch_0/u_in" R16C54;
INS_LOC "u_sdram/dq_bits[27].u_fetch_0/u_in" R17C54;
INS_LOC "u_sdram/dq_bits[28].u_fetch_0/u_in" R18C54;
INS_LOC "u_sdram/dq_bits[29].u_fetch_0/u_in" R18C54;
INS_LOC "u_sdram/dq_bits[30].u_fetch_0/u_in" R44C54;
INS_LOC "u_sdram/dq_bits[31].u_fetch_0/u_in" R44C54;

INS_LOC "u_sdram/dq_bits[0].u_fetch_1/u_in" R3C4;
INS_LOC "u_sdram/dq_bits[1].u_fetch_1/u_in" R3C4;
INS_LOC "u_sdram/dq_bits[2].u_fetch_1/u_in" R8C4;
INS_LOC "u_sdram/dq_bits[3].u_fetch_1/u_in" R8C4;
INS_LOC "u_sdram/dq_bits[4].u_fetch_1/u_in" R9C4;
INS_LOC "u_sdram/dq_bits[5].u_fetch_1/u_in" R9C4;
INS_LOC "u_sdram/dq_bits[6].u_fetch_1/u_in" R11C4;
INS_LOC "u_sdram/dq_bits[7].u_fetch_1/u_in" R11C4;
INS_LOC "u_sdram/dq_bits[8].u_fetch_1/u_in" R9C53;
INS_LOC "u_sdram/dq_bits[9].u_fetch_1/u_in" R9C53;
INS_LOC "u_sdram/dq_bits[10].u_fetch_1/u_in" R5C53;
INS_LOC "u_sdram/dq_bits[11].u_fetch_1/u_in" R6C53;
INS_LOC "u_sdram/dq_bits[12].u_fetch_1/u_in" R5C53;
INS_LOC "u_sdram/dq_bits[13].u_fetch_1/u_in" R4C53;
INS_LOC "u_sdram/dq_bits[14].u_fetch_1/u_in" R3C53;
INS_LOC "u_sdram/dq_bits[15].u_fetch_1/u_in" R3C53;
INS_LOC "u_sdram/dq_bits[16].u_fetch_1/u_in" R39C4;
INS_LOC "u_sdram/dq_bits[17].u_fetch_1/u_in" R39C4;
INS_LOC "u_sdram/dq_bits[18].u_fetch_1/u_in" R35C4;
INS_LOC "u_sdram/dq_bits[19].u_fetch_1/u_in" R35C4;
INS_LOC "u_sdram/dq_bits[20].u_fetch_1/u_in" R30C4;
INS_LOC "u_sdram/dq_bits[21].u_fetch_1/u_in" R30C4;
INS_LOC "u_sdram/dq_bits[22].u_fetch_1/u_in" R20C4;
INS_LOC "u_sdram/dq_bits[23].u_fetch_1/u_in" R18C4;
INS_LOC "u_sdram/dq_bits[24].u_fetch_1/u_in" R17C53;
INS_LOC "u_sdram/dq_bits[25].u_fetch_1/u_in" R16C53;
INS_LOC "u_sdram/dq_bits[26].u_fetch_1/u_in" R16C53;
INS_LOC "u_sdram/dq_bits[27].u_fetch_1/u_in" R17C53;
INS_LOC "u_sdram/dq_bits[28].u_fetch_1/u_in" R18C53;
INS_LOC "u_sdram/dq_bits[29].u_fetch_1/u_in" R18C53;
INS_LOC "u_sdram/dq_bits[30].u_fetch_1/u_in" R44C53;
INS_LOC "u_sdram/dq_bits[31].u_fetch_1/u_in" R44C53;

INS_LOC "u_sdram/dq_bits[0].u_fetch_0/u_ce_pre" R3C5;
INS_LOC "u_sdram/dq_bits[1].u_fetch_0/u_ce_pre" R3C5;
INS_LOC "u_sdram/dq_bits[2].u_fetch_0/u_ce_pre" R8C5;
INS_LOC "u_sdram/dq_bits[3].u_fetch_0/u_ce_pre" R8C5;
INS_LOC "u_sdram/dq_bits[4].u_fetch_0/u_ce_pre" R9C5;
INS_LOC "u_sdram/dq_bits[5].u_fetch_0/u_ce_pre" R9C5;
INS_LOC "u_sdram/dq_bits[6].u_fetch_0/u_ce_pre" R11C5;
INS_LOC "u_sdram/dq_bits[7].u_fetch_0/u_ce_pre" R11C5;
INS_LOC "u_sdram/dq_bits[8].u_fetch_0/u_ce_pre" R9C52;
INS_LOC "u_sdram/dq_bits[9].u_fetch_0/u_ce_pre" R9C52;
INS_LOC "u_sdram/dq_bits[10].u_fetch_0/u_ce_pre" R5C52;
INS_LOC "u_sdram/dq_bits[11].u_fetch_0/u_ce_pre" R6C52;
INS_LOC "u_sdram/dq_bits[12].u_fetch_0/u_ce_pre" R5C52;
INS_LOC "u_sdram/dq_bits[13].u_fetch_0/u_ce_pre" R4C52;
INS_LOC "u_sdram/dq_bits[14].u_fetch_0/u_ce_pre" R3C52;
INS_LOC "u_sdram/dq_bits[15].u_fetch_0/u_ce_pre" R3C52;
INS_LOC "u_sdram/dq_bits[16].u_fetch_0/u_ce_pre" R39C5;
INS_LOC "u_sdram/dq_bits[17].u_fetch_0/u_ce_pre" R39C5;
INS_LOC "u_sdram/dq_bits[18].u_fetch_0/u_ce_pre" R35C5;
INS_LOC "u_sdram/dq_bits[19].u_fetch_0/u_ce_pre" R35C5;
INS_LOC "u_sdram/dq_bits[20].u_fetch_0/u_ce_pre" R30C5;
INS_LOC "u_sdram/dq_bits[21].u_fetch_0/u_ce_pre" R30C5;
INS_LOC "u_sdram/dq_bits[22].u_fetch_0/u_ce_pre" R20C5;
INS_LOC "u_sdram/dq_bits[23].u_fetch_0/u_ce_pre" R18C5;
INS_LOC "u_sdram/dq_bits[24].u_fetch_0/u_ce_pre" R17C52;
INS_LOC "u_sdram/dq_bits[25].u_fetch_0/u_ce_pre" R16C52;
INS_LOC "u_sdram/dq_bits[26].u_fetch_0/u_ce_pre" R16C52;
INS_LOC "u_sdram/dq_bits[27].u_fetch_0/u_ce_pre" R17C52;
INS_LOC "u_sdram/dq_bits[28].u_fetch_0/u_ce_pre" R18C52;
INS_LOC "u_sdram/dq_bits[29].u_fetch_0/u_ce_pre" R18C52;
INS_LOC "u_sdram/dq_bits[30].u_fetch_0/u_ce_pre" R44C52;
INS_LOC "u_sdram/dq_bits[31].u_fetch_0/u_ce_pre" R44C52;

INS_LOC "u_sdram/dq_bits[0].u_fetch_1/u_ce_pre" R3C6;
INS_LOC "u_sdram/dq_bits[1].u_fetch_1/u_ce_pre" R3C6;
INS_LOC "u_sdram/dq_bits[2].u_fetch_1/u_ce_pre" R8C6;
INS_LOC "u_sdram/dq_bits[3].u_fetch_1/u_ce_pre" R8C6;
INS_LOC "u_sdram/dq_bits[4].u_fetch_1/u_ce_pre" R9C6;
INS_LOC "u_sdram/dq_bits[5].u_fetch_1/u_ce_pre" R9C6;
INS_LOC "u_sdram/dq_bits[6].u_fetch_1/u_ce_pre" R11C6;
INS_LOC "u_sdram/dq_bits[7].u_fetch_1/u_ce_pre" R11C6;
INS_LOC "u_sdram/dq_bits[8].u_fetch_1/u_ce_pre" R9C51;
INS_LOC "u_sdram/dq_bits[9].u_fetch_1/u_ce_pre" R9C51;
INS_LOC "u_sdram/dq_bits[10].u_fetch_1/u_ce_pre" R5C51;
INS_LOC "u_sdram/dq_bits[11].u_fetch_1/u_ce_pre" R6C51;
INS_LOC "u_sdram/dq_bits[12].u_fetch_1/u_ce_pre" R5C51;
INS_LOC "u_sdram/dq_bits[13].u_fetch_1/u_ce_pre" R4C51;
INS_LOC "u_sdram/dq_bits[14].u_fetch_1/u_ce_pre" R3C51;
INS_LOC "u_sdram/dq_bits[15].u_fetch_1/u_ce_pre" R3C51;
INS_LOC "u_sdram/dq_bits[16].u_fetch_1/u_ce_pre" R39C6;
INS_LOC "u_sdram/dq_bits[17].u_fetch_1/u_ce_pre" R39C6;
INS_LOC "u_sdram/dq_bits[18].u_fetch_1/u_ce_pre" R35C6;
INS_LOC "u_sdram/dq_bits[19].u_fetch_1/u_ce_pre" R35C6;
INS_LOC "u_sdram/dq_bits[20].u_fetch_1/u_ce_pre" R30C6;
INS_LOC "u_sdram/dq_bits[21].u_fetch_1/u_ce_pre" R30C6;
INS_LOC "u_sdram/dq_bits[22].u_fetch_1/u_ce_pre" R20C6;
INS_LOC "u_sdram/dq_bits[23].u_fetch_1/u_ce_pre" R18C6;
INS_LOC "u_sdram/dq_bits[24].u_fetch_1/u_ce_pre" R17C51;
INS_LOC "u_sdram/dq_bits[25].u_fetch_1/u_ce_pre" R16C51;
INS_LOC "u_sdram/dq_bits[26].u_fetch_1/u_ce_pre" R16C51;
INS_LOC "u_sdram/dq_bits[27].u_fetch_1/u_ce_pre" R17C51;
INS_LOC "u_sdram/dq_bits[28].u_fetch_1/u_ce_pre" R18C51;
INS_LOC "u_sdram/dq_bits[29].u_fetch_1/u_ce_pre" R18C51;
INS_LOC "u_sdram/dq_bits[30].u_fetch_1/u_ce_pre" R44C51;
INS_LOC "u_sdram/dq_bits[31].u_fetch_1/u_ce_pre" R44C51;

GROUP bus_mux={"u_bus/u_nrd/ff_delay_s0"};
GROUP bus_mux+={"u_bus/u_nwr/ff_delay_s0"};
GROUP bus_mux+={"u_bus/u_nrfsh/ff_delay_s0"};
GROUP bus_mux+={"u_bus/u_nsltsl/ff_delay_s0"};
GROUP bus_mux+={"u_bus/u_niorq/ff_delay_s0"};
GROUP bus_mux+={"u_bus/u_nreset/ff_delay_s0"};
GROUP bus_mux+={"u_bus/w_mux_cs_0_s0"};
GROUP bus_mux+={"u_bus/w_mux_cs_1_s0"};
GROUP bus_mux+={"u_bus/w_mux_cs_2_s0"};
